
lab1/.DS_Store
lab1/Devtools-xcode-lab1/.DS_Store
*.xcuserstate
lab1/Devtools-xcode-lab1/sources/.DS_Store
lab1/Devtools-xcode-lab1/Devtools-xcode-lab1.xcodeproj/project.xcworkspace/xcuserdata/kirilllukanov.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
.DS_Store
*.xcuserstate
lab1/Devtools-xcode-lab1/Devtools-xcode-lab1.xcodeproj/project.xcworkspace/xcuserdata/kirilllukanov.xcuserdatad/UserInterfaceState.xcuserstate
